@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    /* border: 0.5px solid red;
     */
}
html,
body {
    padding: 0;
    margin: 0;
    background-color: #404040;
}

body {
    font-family: 'Roboto', sans-serif;
}

.page-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: #60a5fa;
    color: #f8fafc;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 3fr repeat(10, 1fr) 5fr;
    align-items: center;
    overflow: hidden;
}

.header {
    padding-left: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #93c5fd;
}

.top-header,
.bottom-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search,
.profile,
.welcome,
.three-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.main {
    background-color: #525252;
}

.logo {
    height: 3rem;
    color:#f8fafc;
}

.icon {
    font-size: 1.1rem;
    width:calc(100% - 30px);
    height:50px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 1fr 5fr; 
    align-items: center;
    border-radius: 10px;
    align-self: center;
}

.icon-logo {
    padding-left:20px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
}

.icon:hover {
    background-color: #93c5fd;
}

svg {
    height: 1.8rem;
    fill: #f8fafc;
}

.small-avatar {
    height: 50px;
    width: auto;
}

